The inputs are {{a}} and {{b}}
{% if a>b %}
{{a}} is the larger number
{% endif %} 
{% for eachchar in myString %}
This is {{eachchar}}
{% endfor %}
{% for eachpkg in myList %}
The package name is {{eachpkg}}
{% endfor %}